body{
  margin: 0;
  min-height: 100vh;
  align-items: center; 
  justify-content: center;
  background-image: linear-gradient(to left, magenta, tomato);
  text-align: center;
}

.table{
  width:100%;
  position: relative;
  padding: 20px;
  border-radius: 30px;
  //background: #9c9c9c;
}


.thead th {
  background-color: #9c9c9c; 
  border-radius: 10px 10px 0 0;
  font-size: 30px; 
}

.tbody {
  border-bottom: 2px black; 
}

.tbody td,
.tbody th {
  border-bottom: 1px  solid #000000;
  text-align: left;
  margin: 1em 0;
  padding:10px;
  font-size: 25px;
}

.title{
  font-size: 50px;
  margin-top: 5;
}


.paginate{
  display:flex;
  justify-content: center;
  align-items: center; 
  margin-bottom: 20px;
}

.paginateActive{
  text-color: gray;
}

.pageclass{
  margin-left: 2.25rem; /* 36px */
margin-right: 2.25rem; /* 36px */
}

.nextandprevius{
  border: 1px solid;
  padding-left: 0.5rem; 
  padding-right: 0.5rem;
  padding-top: 0.25rem; 
  padding-bottom: 0.25rem;
  border-radius: 0.375rem;
  background-color: #808080;
  color: rgba(0, 0, 0, 0.9);
}